.main {
    width: 100%;
    height: 100%;
}

.main .content-div {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main .content-div.center-content {
    align-items: center;
}

.main div .content-label {
    font-size: 34px;
    margin: 10px;
    font-weight: bold;
}